name: On push

on: [push, pull_request]

jobs:
  build:

    runs-on: ubuntu-latest

    env:
        CI: true

    strategy:
      matrix:
        node-version: [24.x]

    steps:
    - uses: actions/checkout@v1
    - name: Use Node.js ${{ matrix.node-version }}
      uses: actions/setup-node@v1
      with:
        node-version: ${{ matrix.node-version }}
    - uses: pnpm/action-setup@v3
          with:
            version: 8
    - name: Install dependencies
      run: |
        pnpm install
    # - name: Check format
    #   run: |
    #     pnpm run fmt
    - name: Compile solidity contracts and prepare exported assets and artifacts
      run: |
        pnpm run prepare
    - name: Run tests
      run: |
        pnpm run test
